<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.successful_passage? %>
  <p>
    Your pass percentage: <strong style="color:#0ED002" ><%= @test_passage.percentage_completion %> %</strong><br>
    <strong style="color:#0ED002">Success!</strong>
  </p>
<% else %>
  <p>
    Your pass percentage: <strong style="color:#FC0221"><%= @test_passage.percentage_completion %> %</strong><br>
    <strong style="color:#FC0221" >Failed :(</strong>
  </p>
<% end %>

<%= link_to t('all_tests'), tests_path %>
