<div class="row justify-content-center">
    <div class="col col-md-10">
      <% if flash_message(:alert).present? %>
        <div class="alert alert-warning text-center " role="alert">
          <%= flash_message(:alert) %>
        </div>
      <% elsif flash_message(:notice).present? %>
        <div class="alert alert-primary text-center " role="notice">
          <%= flash_message(:notice) %>
        </div>
      <% end %>
    </div>
</div>
