<footer class="d-flex justify-content-center bg-light fixed-bottom ">
  <p class="text-muted">
    Учебный проект в онлайн-школе <a href="https://www.thinknetica.com/" target="_blank" rel="nofollow noopener"
                                    class="text-decoration-none">Thinknetica</a>
    <%= current_year %>
    <%= github_url('Kupreenkov Kirill','https://github.com/killkih') %>
  </p>
</footer>
